name: build-v2

on:
  push:
    branches:
    tags:
    paths:
      - ".github/workflows/ci-v2.yml"
      - "v2/**"
  pull_request:
    paths:
      - ".github/workflows/ci-v2.yml"
      - "v2/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up go
        uses: actions/setup-go@v5
        with:
          go-version: "1.20"
          cache-dependency-path: v2/go.sum
        id: go

      - name: build and test
        run: |
          go test -timeout=60s -race -covermode=atomic -coverprofile=$GITHUB_WORKSPACE/profile.cov
          go build -race
        working-directory: v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.6
          args: --config ../.golangci.yml
          working-directory: v2

      - name: install goveralls, submit coverage
        run: |
          go install github.com/mattn/goveralls@latest
          goveralls -service="github" -coverprofile=$GITHUB_WORKSPACE/profile.cov
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: v2
